* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
a {
    color: #e6a563;
}
a:hover {
    opacity: 0.8;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}
/**Header**/
header {
    /* background-color: #efefef; */
    background-color: transparent;
}
header a {
    text-decoration: none;
    color: #000
}
header a:hover {
    color: #e6a563;
}

/* header has flex for the image and the nav bar (which contains a ul) */
header .container {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* targets a elements that are first-childs of their parent, so the logo */
header .container a:first-child {
    /* for logo width */
    width: 250px;  
    margin-right: auto;


}
header ul {
    list-style-type: none;
    display: flex;
    align-items: center;

}
.button {
    background-color: #e6a563;
    border-radius: 10px;
    padding: 5px 10px;
}
.button:hover {
    background-color:  #e6a563;
}
nav li {
    margin: 0 1em;
    padding: 20px 0;
}


.sub-menu {
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    gap: 20px;
    padding: 10px 20px 20px 10px;
    border-radius: 20px;
    border: 1px solid #efefef;
    margin-top: 10px;
    width: 140px;
    display: none;
}
.sub-menu li {
    padding: 0;
}

li:hover > .sub-menu {
    display: flex;
}



.navToggler, .navTogglerMenu {
    display: none;
}


@media only screen and (max-width: 767px) {

    body {
        background-color: #efefef; 

    }
  
    /* QUESTION WHY DO WE DO THIS */
    header .container nav {
        position: absolute; /* positions based on ancestor which is body?*/
        width: 100%;
        top: 100px; /* offset 90px from top of body */
        left: 0px;
        
       display: none; /* by default the nav isnt shown */

    }

    header .container nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        border-top: 1px solid #fff;

        /* padding: 0; */
        

    }
    ul > li {
        border-bottom: 1px solid #fff; 
        width: 100%;
        text-align: center;


    }

    ul > li:nth-child() {
        background-color: #e6a563;;
    }

    ul > li:nth-child(5) {
        background-color: #e6a563;;
    }

    
       

    
    .sub-menu {
        display: flex;
        position: relative;
        border-radius: 0;
        width: 90%;
        padding: 0;
        gap: 0;
        left: 0px;

    }

    .sub-menu li {
        padding: 20px 0;
        background-color: #ffff;


    }
     header .container a:first-child {
        width: 100%;

     }
     /* manually set the logo */
     header .container a > img {
        width: 250px;
     }

    .button {
        width: 100%;
        display: block;
        border-radius: 0px;
        background-color: transparent;
        /* manually adding padding back to button after removing in*/ 

    }

   


   


    nav li:hover > .sub-menu {
        display: flex;
    }

    .navToggler, .navTogglerMenu {
        display: block;
    }

    .navTogglerMenu img {
        width: 20px;
    }

    .navToggler, .menuClose {
        display: none
    }

    .navToggler:checked ~ nav {
        display: block;
    } 


    .navToggler, .menuClose, .navToggler:checked ~ .navTogglerMenu .menuOpen {
        display: none
    }

    .navToggler:checked ~ nav, .navToggler:checked ~ .navTogglerMenu .menuClose {
        display: block;
    }





  
}